
html{
    width:100%;
    height:auto;
    background-color: #0F1145;
}
body{
    font-family: monospace;
}
.welcome{
    font-size:300px;
    -webkit-text-stroke: 5px black;
	-webkit-text-fill-color:#0F1145 ;
    text-align:center;
    position: relative;
    top:500px;
    font-family: 'Rubik', sans-serif;
    animation:flicker;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes flicker{
    0%{
        -webkit-text-stroke: 5px black;
    }
    20%{
        -webkit-text-stroke: 5px #A56E6E;
    }
    25%{
        -webkit-text-stroke: 5px black;
        /* opacity:0.8; */
    }
    30%{
        -webkit-text-stroke: 5px #A56E6E;
    }
    100%{
        -webkit-text-stroke: 5px black;
        /* opacity:0.8; */
    }
}    
.welcome-container{
    position: relative;
    margin-bottom:400px;
}
.projects
{
    width: 85%;
    margin: auto;
    position: relative;
    bottom:50px;
}

.heading h3 
{
    color: #F2994A;
    font-size: 50px;
    margin: 0%;
    font-family: impact, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.heading p 
{
    color: rgb(255, 255, 255);
    font-family: impact, Times, serif;
    opacity: 0.8;
    margin: 0%;
    text-align: center;
    font-size:20px;
    font-family: 'Rubik', sans-serif;

}


.svg1
  {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
  }

.vec1
{
    position: relative;
    right: 330px;
    top: 200px;
}

.vec2
{
    position: relative;
    left: 450px;
    top: 200px;
}

.gallery
{

    position: relative;
    top: 60px;
    display: grid;
    height: 50vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 30% 30%;
    gap: 20px;
}

.gallery img{
    height: 300px;
    width: 450px;
    transition: 0.6s;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

}

.gallery img:hover
{
    opacity: 0.5;
    cursor: pointer;
}


.nav-container {
    width:100%;
    height:100px;
    background: #0F1145;
}

.navbar{
    display:grid;
    grid-template-columns: 0.2fr auto 0.4fr;
    align-items: center;
    width:90%;
    margin:0 auto;
    height:100px;
}

.logo {
    color:rgb(214, 132, 146);
    justify-self: start;
    margin-left:20px;
    cursor:pointer;
    font-size:80px;
    font-family: garamond;
    font-style: italic;
}
.nav-menu{
    display:grid;
    grid-template-columns: repeat(5,auto);
    text-align:center;
    justify-self: center;
    width:70%;
    font-size:50px;
}
button:hover{
    background-color: rgb(13, 127, 180);
}
button{
    background-color: white;
    border-radius:5px;
    height:30px;
    width:100px;
}
.menu-items{
    color:white;
    background-color:#0F1145;
    outline: none;
    border:none;
    text-decoration: none;
    font-family: impact;
}

.menu-toggle.bar{
    width:25px;
    height:3px;
    margin:5px auto;
    transition:all 0.3s ease-in-out;
    background:blue;
}

@media screen and (max-width:1200px){
    .navbar{
        grid-template-columns:0.2fr auto 0.2fr;
    }

}

.horizontal{
    width:100%;
    position:relative;
    top:100px;
    opacity:0.3;
}
.home-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    font-family: 'Rubik', sans-serif;
}

.home{
    font-size: 40px !important;
    color:rgb(214, 132, 146);
}
.cont{
    font-size: 25px;
}

.home-text{
    color:white;
    align-self: center;
    position:relative;
    top:200px;
    right:0px;
    align-self: flex-start;
}

.home-img{
    align-self: center;
    position:relative;
    top:160px;
    left:30px;
    align-self:flex-end;
}

.home-container2{
    position:relative;
    justify-content:center;
    font-family: 'Rubik', sans-serif;

}

.home2{
    text-align:center;
    font-size:50px;
    color:rgb(214, 132, 146);
}

.home3{
    text-align:center;
    font-size:30px;
    color:white;
}

.criteria{
    display:grid;
    grid-template-columns:200px 200px 200px;
    gap:0px 150px;
    position:relative;
    top:100px;
    justify-content:center;
    font-family: 'Rubik', sans-serif;
}
.cri{
    height:200px;
    background:#0F1145;
    font-size:25px;
    text-align:center;
    color:rgb(214, 132, 146);
    text-shadow: 5px 5px black;
}
.e{
    font-size:20px;
    color:white;
    line-height:40px;
}

.vector-img{
    display:flex;
    flex-direction:row;
    justify-content:Center;
    opacity:0.5;
    position: relative;
    top:50px;
}

.rain{
    width:40%;
    align-self:center;
    position: relative;
}

.rain-s{
    display:flex;
    position: relative;

}

.rain-slant{
    width:50%;
}

.rain-slant1{
    transform:scaleX(-1);
    width:50%;
}
.rain1{
    position: relative;
    width:30%;
    align-self:center;
}
.rain11{
    position: relative;
    width:30%;
    align-self:center;
    transform:scaleX(-1);
}