
html{
    width:100%;
    height:auto;
    background-color: #0F1145;
}
body{
    font-family: monospace;
}
.welcome{
    font-size:300px;
    -webkit-text-stroke: 5px black;
	-webkit-text-fill-color:#0F1145 ;
    text-align:center;
    position: relative;
    top:500px;
    font-family: 'Rubik', sans-serif;
    animation:flicker;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes flicker{
    0%{
        -webkit-text-stroke: 5px black;
        /* opacity:0; */
    }
    20%{
        -webkit-text-stroke: 5px #A56E6E;
    }
    100%{
        -webkit-text-stroke: 5px black;
        opacity:0.8
    }
    /* 90%{
        opacity:0.5;
    }
    100%{
        opacity:0.1;
    } */
}
.welcome-container{
    position: relative;
    bottom:200px;
}
.projects
{
    width: 85%;
    margin: auto;
    position: relative;
    bottom:50px;
}

.heading h3 
{
    color: #F2994A;
    font-size: 50px;
    margin: 0%;
    font-family: impact, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.heading p 
{
    color: rgb(255, 255, 255);
    font-family: impact, Times, serif;
    opacity: 0.8;
    margin: 0%;
    text-align: center;
    font-size:20px;
    font-family: 'Rubik', sans-serif;

}


.svg1
  {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
  }

.vec1
{
    position: relative;
    right: 330px;
    top: 200px;
}

.vec2
{
    position: relative;
    left: 450px;
    top: 200px;
}

.gallery
{

    position: relative;
    top: 60px;
    display: grid;
    height: 50vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 30% 30%;
    gap: 20px;
}

.gallery img{
    height: 300px;
    width: 450px;
    transition: 0.6s;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

}

.gallery img:hover
{
    opacity: 0.5;
    cursor: pointer;
}


.nav-container {
    width:100%;
    height:100px;
    background: #0F1145;
}

.navbar{
    display:grid;
    grid-template-columns: 0.2fr auto 0.4fr;
    align-items: center;
    width:90%;
    margin:0 auto;
    height:100px;
}

.logo {
    color:rgb(214, 132, 146);
    justify-self: start;
    margin-left:20px;
    cursor:pointer;
    font-size:80px;
    font-family: garamond;
    font-style: italic;
}
.nav-menu{
    display:grid;
    grid-template-columns: repeat(5,auto);
    text-align:center;
    justify-self: center;
    width:70%;
    font-size:50px;
}
button:hover{
    background-color: rgb(13, 127, 180);
}
button{
    background-color: white;
    border-radius:5px;
    height:30px;
    width:100px;
}
.menu-items{
    color:white;
    background-color:#0F1145;
    outline: none;
    border:none;
    text-decoration: none;
    font-family: impact;
}

.menu-toggle.bar{
    width:25px;
    height:3px;
    margin:5px auto;
    transition:all 0.3s ease-in-out;
    background:blue;
}

@media screen and (max-width:1200px){
    .navbar{
        grid-template-columns:0.2fr auto 0.2fr;
    }

}

.horizontal{
    width:100%;
    position:relative;
    top:100px;
    opacity:0.3;
}
.home-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    font-family: 'Rubik', sans-serif;
}

.home{
    font-size: 40px !important;
    color:rgb(214, 132, 146);
}
.cont{
    font-size: 25px;
}

.home-text{
    color:white;
    align-self: center;
    position:relative;
    top:200px;
    right:50px;
    align-self: flex-start;
}

.home-img{
    align-self: center;
    position:relative;
    top:160px;
    left:30px;
    align-self:flex-end;
}

.home-container2{
    position:relative;
    justify-content:center;
    font-family: 'Rubik', sans-serif;

}

.home2{
    text-align:center;
    font-size:50px;
    color:rgb(214, 132, 146);
}

.home3{
    text-align:center;
    font-size:30px;
    color:white;
}

.criteria{
    display:grid;
    grid-template-columns:200px 200px 200px;
    gap:0px 150px;
    position:relative;
    top:100px;
    justify-content:center;
    font-family: 'Rubik', sans-serif;
}
.cri{
    height:200px;
    background:#0F1145;
    font-size:25px;
    text-align:center;
    color:rgb(214, 132, 146);
    text-shadow: 5px 5px black;
}
.e{
    font-size:20px;
    color:white;
    line-height:40px;
}
d{
    align-self:center;
}

c{
    align-self:center;
}

.vector-img{
    display:flex;
    flex-direction:row;
    justify-content:Center;
    opacity:0.5;
    position: relative;
    top:50px;
}

.rain{
    width:33%;
    align-self:center;
    position: relative;
}

.rain-s{
    display:flex;
    position: relative;

}

.rain-slant{
    width:50%;
}

.rain-slant1{
    transform:scaleX(-1);
    width:50%;
}
.rain1{
    position: relative;
    width:33%;
    align-self:center;
}
@media only screen and (max-width:768px){
    .nav-container{
        position:relative;
    }

    .nav-menu{
        display:grid;
        grid-template-columns:auto;
        background:#0F1145;
        font-size:15px;
        position:absolute;
        top:125px;
        width:98%;
        right:1px;
        line-height:40px;
    }

    .logo{
        position:relative;
    }

    #mobile-menu{
        position:absolute;
        top:30px;
        left:100px;
    }

    .menu-toggle .bar{
        display:block;
        cursor:pointer;
    }

    .home-container{
        position:relative;
        top:150px;
        flex-direction:column;
    }

    .home{
        font-size:25px;
        position:relative;
        left:70px;
    }

    .cont{
        width:98%;
        font-size:20px;
        position:relative;
        left:70px;
    }

    .home-img{
        width:100%;
        height:auto;
        position:relative;
        top:300px;
        left:0px;
    }
    .home-container2{
        position:relative;
        /* bottom:330px; */
        top:200px;
    }

    .home2{
        font-size:25px;
    }

    .home3{
        font-size:20px;
    }

    .criteria{
        display:grid;
        grid-template-columns: 200px;
        grid-template-rows: 200px 200px 200px;
        gap:20px 150px;
        line-height:10px;
        position:relative;
        top:100px;
        justify-content:center;
    }
    .vector-img{
        position:relative;
        top:400px;
    }

    .rain-s{
        position: relative;
        bottom:100px;
    }

    .welcome{
        font-size:90px;
        -webkit-text-stroke: 2px #A56E6E;

    }
    .horizontal{
        position: relative;
        top:190px;
    }
    .welcome-container{
        position: relative;
        top:50px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .gallery{
        display:grid;
        grid-template-columns:400px;
        grid-template-rows:repeat(6, 300px);
    }
    .gallery img{
        width:400px;
        height:300px;
    }
}


